<!DOCTYPE html>
<html lang="en">

<head>
  <title>To Do List</title>
</head>

<body>
    <header>
    </header>
    <main>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
              <button>Submit</button>
        </form>
    </main>
</body>

</html>