<!DOCTYPE html>
<html lang="en">

<head>
  <title>To Do List</title>
</head>

<body>
    <header>
        <nav>
            <a href="{% url 'todo_list_list' %}">Back to list</a>
            <a href="{% url 'todo_list_update' todolist.id %}">Edit</a>
            <a href="{% url 'todo_list_delete' todolist.id %}">Delete</a>
      </nav>
    </header>   
    <main>
      <table>
        <thead>
          <tr>
            <th>Task</th>
						<th> Due Date</th>
					</tr>
				<thead>
				<tbody>
					{% for item in todolist.items.all %}
						<tr>
							<td>
								<a href="{% url 'todo_item_update' item.id %}"> {{ item.task }}</a>
							</td>
							<td>
								{{ item.due_date|date }}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
    </main>
</body>

</html>